.maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(81, 197, 191, 0.4);
}

.videoContainer {
    width: 100%;
    border: 2px solid red;
    position: relative;
    overflow: hidden;
}

.video {
    width: 100%;
}

.control-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    position: absolute;
    border: 4px solid blue;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-15px);
    transition: all 0.35s;
}

.videoContainer:hover .control-options {
    transform: translateY(0);
}

.timeline {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid turquoise;
    cursor: pointer;
}

input {
    width: 100%;
    background-color: red;
}

.buttongroup {
    padding: 10px;
    display: flex;
    border: 2px solid red;
    width: 100%;
    justify-content: space-between;
}

button {
    width: 50px;
}

input {
    visibility: visible;
    z-index: 1;
    position: relative;
    opacity: 0;
    bottom: 18px;
    cursor: pointer;
}


/* .buttongroup button:before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    font-size: 28px;
    color: #fff;
    display: inline-block
} */

.timer {
    width: 100px;
    height: 30px;
    border: 2px solid red;
    margin-left: 10px;
    color: red;
    display: grid;
    place-items: center;
    font-size: 30px;
}

.timelineRed {
    width: 0;
    height: 10px;
    background-color: red;
    border: 2px solid green;
}